* {
    box-sizing: border-box;
}







body {
    background-color: #ffffff;
    color: #000000;
    font-family: 'Commissioner', sans-serif;
    font-size: 18px;
    line-height: 1.6;
    font-weight: 500;
}


h1,
h2,
h3,
h4 {
    line-height: 2.0;

}

h1 {
    font-size: 32px;
    font-weight: 700;
}

h2 {
    font-size: 30px;
    font-weight: 700;

}

h3 {
    font-size: 24px;
    font-weight: 600;
}

h4 {
    font-size: 1.0em;
    font-weight: 590;
}






a {
    color: #000000;
    text-decoration: none;
    transition: 0.2s;
    font-weight: bold;
}


a:hover {
    color: #000000;
    text-decoration: underline;
    opacity: 0.8;
}


a:visited {
    color: #000000;
}


a:active {
    color: #000000;
}




.button {
    display: inline-block;
    background-color: #064F55;
    color: #ffffff;
    font-weight: 400;
    text-decoration: none;
    padding: 10px;
    border-radius: 5px;
    border-bottom: 2px solid #064F55;
    transition: 0.2s opacity;
    box-shadow: 5px 7px 19px #F2F2F2;
}

.button:hover {
    opacity: 0.8;
    text-decoration: none;
    color: #00D1E2;
}

.button:visited {
    color: #00D1E2;
}

.button:active {
    color: #ffffff;
}





.button.contact {
    background-color: transparent;
    color: #000000;
    text-transform: uppercase;
    border: 2px solid #064F55;
    font-weight: 600;
}

.button.contact:hover {
    background-color: #426568;
    color: #000000;
}


.button.contact:visited {
    color: #000000;
}


.button.contact:active {
    color: #000000;
}



header {
    background-color: #ffffff;
    padding: 10px;
    margin: 0;
    border: 3px solid #ffffff;
    display: block;
    width: 1200px;
    width: 100%;
    
    position: relative;


}




/*Layout styling*/

.container {
    padding: 0 15px;
}

.row {
    padding-bottom: 25px;
    margin: 25px 0;
    border-bottom: 1px solid #416568;


}

#hero h1,
h2 {
    text-align: center;
}


#work h2 {
    text-align: center;
}

#work h3,
h4 {
    text-align: left;
}


#footer h2 {
    text-align: center;
}




.logo {
    max-width: 150px;


}



nav>ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
}




nav>ul>li>a {
    padding: 0 15px;
    text-transform: uppercase;
    font-weight: 700;
    color: #000000;
}




nav>ul>li>a:hover {
    color: #000000;
    text-decoration: underline;
    opacity: 0.8;
}


nav>ul>li>a:visited {
    color: #000000;
}


nav>ul>li>a:active {
    color: #000000;
}


#hero {
    background-color: #ffffff;
    padding: 20px 0;
    display: inline-block;
    width: 100%;
    



}

#hero span {
    display: block;
}


#work {
    background-color: #ffffff;
    padding: 20px 0;
    display: inline-block;
    width: 100%;
    
}

#footer {
    background-color: #ffffff;
    padding: 20px 0;
    display: inline-block;
    width: 100%;
}


.skills-tools {
    padding-left: 100px;
}


.bridge {
    width: 100%;
    max-width: 100%;
    height: auto;

}

@keyframes color-change {
    from {
        fill: #edc655
    }

    to {
        fill: #f76414
    }
}

@keyframes cloud-move {
    from {
        transform: translate(0, 50px);
    }

    to {
        transform: translate(200px, 50px);
    }
}

@keyframes cloud-move-reverse {
    from {
        transform: translate(446px, 48px);
    }

    to {
        transform: translate(100px, 48px);
    }
}


.sun {
    animation: 4s color-change infinite alternate linear;
}

.cloud-front {
    animation: 30s cloud-move infinite alternate linear;
}


.cloud-back {
    animation: 34s cloud-move-reverse infinite alternate linear;
}



.social_icon {
    height: 50px;
    width: 50px;
    display: inline-block;
    padding-top: 20px;
    padding-left: 5px;
    padding-right: 5px;


}

.email {
    text-align: center;
}

.navtoggle li:not(:last-child) {
    display: none;
}


.navtoggle li .icon {
    position: absolute;
    right: 0;
    top: 2px;
    font-size: 20px;
    padding-right: 0;
}

.plutoimg {
    width: 50%;
    display: block;
    margin-left: auto;
    margin-right: auto;
}


/*responsive*/

.navtoggle,
.navtoggle.responsive {
    position: relative;
}

.navtoggle.responsive li {
    display: block;
}

.navtoggle.responsive nav {
    padding: 24px 0 0;
}

.navtoggle.responsive li {
    display: block;
    padding: 10px 0;
    border-top: 1px solid rgba(255, 127, 80, 0.5);
}

.navtoggle.responsive li:last-child {
    padding: 0 0 10px;
}


.photopluto{
    width: 50%;
}

/*media queries*/


@media only screen and (max-width: 640px) {
    h1 {
        font-size: 32px;
    }

    .imgpluto {
        width: 60%;
        display: block;
        margin-left: auto;
        margin-right: auto;
    }


}



@media only screen and (min-width: 641px) {
    header {
        text-align: unset;
        padding: 20px 0 13px;
    }

    nav {
        width: auto;
        float: right;
        margin-top: 4px;
    }

    .col-md-6 {
        width: 50%;
    }

    nav>ul>li {
        display: inline-block;
    }

    .navtoggle li:not(:last-child) {
        display: inline-block;
    }

    .navtoggle li:last-child {
        display: none;
    }

    nav>ul {
        margin: 1em 0;
    }



}



@media only screen and (min-width: 1024px) {
    .col-lg-7 {
        width: 58.33%;
    }

    .col-lg-5 {
        width: 41.66%;
    }

    .container {
        max-width: 1200px;
        margin-left: auto;
        margin-right: auto;

    }

}

@media only screen and (min-width: 1440px) {}

[class*="col-"] {
    float: left;
    padding: 10px;
}

.row::after {
    content: "";
    clear: both;
    display: table;
}













img {
    width: 100%;
}