* {
    box-sizing: border-box;
}







body {
    background-color: #064f55;
    color: #ffffff;
    font-family: 'Commissioner', sans-serif;
    font-size: 18px;
    line-height: 1.6;
}


h1,
h2,
h3,
h4 {
    line-height: 2.0;
}

h1 {
    font-size: 2.75em;
    font-weight: 700;
}

h2 {
    font-size: 2.00em;
    font-weight: 700;

}

h3 {
    font-size: 1.4em;
    font-weight: 600;
}

h4 {
    font-size: 1.0em;
    font-weight: 590;
}






a {
    color: #ebd408;
    text-decoration: none;
    transition: 0.2s;
}


a:hover {
    color: #cc6540;
    text-decoration: underline;
}


a:visited {
    color: #ff7f50;
}


a:active {
    color: #994c30;
}




.button {
    display: inline-block;
    background-color: #1e93ff;
    color: #ffffff;
    font-weight: 400;
    text-decoration: none;
    padding: 10px;
    border-radius: 5px;
    border-bottom: 2px solid #1e93ff;
    transition: 0.2s opacity;
}

.button:hover {
    opacity: 0.8;
    text-decoration: none;
}

.button:visited {
    color: #ff7f50;
}

.button:active {
    color: #994c30;
}





.button.contact {
    background-color: transparent;
    color: #ffffff;
    text-transform: uppercase;
    border: 2px solid #ebd408;
}

.button.contact:hover {
    background-color: #ebd408;
    color: #ffffff;
}


.button.contact:visited {
    color: #ff7f50;
}


.button.contact:active {
    color: #994c30;
}



header {
    background-color: #387D83;
    padding: 10px;
    margin: 0;
    border: 3px solid #416568;
    display: block;
    width: 1200px;
    width: 100%;
    text-align: center;
    width: [object Object]px;
    height: [object Object]px;
    box-shadow: 5px 7px 19px rgba(0, 0, 0, 0.5);
    -webkit-box-shadow: 5px 7px 19px rgba(0, 0, 0, 0.5);
    -moz-box-shadow: 5px 7px 19px rgba(0, 0, 0, 0.5);
    position: relative;

}



/*Layout styling*/

.container {
    padding: 0 15px;
}

.row {
    padding-bottom: 25px;
    margin: 25px 0;
    border-bottom: 1px solid #416568;


}

#hero h1,
h2 {
    text-align: center;
}


#work h2 {
    text-align: center;
}

#work h3,
h4 {
    text-align: left;
}


#footer h2 {
    text-align: center;
}




.logo {
    max-width: 250px;
    padding: 10px;
   
}


nav>ul {
    list-style-type: none;
    padding: 0;
    display: block;

}

nav>ul>li {
    display: inline-block;
}

nav>ul>li>a {
    padding: 0 15px;
    text-transform: uppercase;
    font-weight: 700;
    color: #ffffff;
}




nav>ul>li>a:hover {
    color: #cc6540;
    text-decoration: underline;

}


nav>ul>li>a:visited {
    color: #ff7f50;
}


nav>ul>li>a:active {
    color: #994c30;
}


#hero {
    background-color: #387D83;
    padding: 20px 0;
    display: inline-block;
    width: 100%;
    border-bottom: 3px solid #416568;



}

#hero span {
    display: block;
}


#work {
    background-color: #387D83;
    padding: 20px 0;
    display: inline-block;
    width: 100%;
    border-bottom: 3px solid #416568;
}

#footer {
    background-color: #387D83;
    padding: 20px 0;
    display: inline-block;
    width: 100%;
}


.skills-tools{
    padding-left: 100px;
}


.bridge {
    width: 100%;
    max-width: 100%;
    height: auto;
    
}

@keyframes color-change {
    from {
        fill: #edc655
    }

    to {
        fill: #f76414
    }
}

@keyframes cloud-move {
    from {
        transform: translate(0, 50px);
    }

    to {
        transform: translate(200px, 50px);
    }
}

@keyframes cloud-move-reverse {
    from {
        transform: translate(446px, 48px);
    }

    to {
        transform: translate(100px, 48px);
    }
}


.sun {
    animation: 4s color-change infinite alternate linear;
}

.cloud-front {
    animation: 30s cloud-move infinite alternate linear;
}


.cloud-back {
    animation: 34s cloud-move-reverse infinite alternate linear;
}



.social_icon{
    height: 100px;
    width: 100px;
    display: inline-block;
    
}



/*media queries*/


@media only screen and (min-width: 640px) {
    header {
        text-align: unset;
        padding: 20px 0 13px;
    }

    nav {
        width: auto;
        float: right;
        margin-top: 4px;
    }

    .col-md-6 {
        width: 50%;
    }


}



@media only screen and (min-width: 1024px) {
    .col-lg-7 {
        width: 58.33%;
    }

    .col-lg-5 {
        width: 41.66%;
    }

    .container {
        max-width: 1200px;
        margin-left: auto;
        margin-right: auto;
    }
}

@media only screen and (min-width: 1440px) {}

[class*="col-"] {
    float: left;
    padding: 10px;
}

.row::after {
    content: "";
    clear: both;
    display: table;
}













img {
    width: 100%;
}